body 
{
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#444cf7 0.9500000000000001px, #e5e5f7 0.9500000000000001px);
    background-size: 38px 38px;
    background-position: 0 0,19px 19px;
}
footer nav ul 
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color:gray;
}
footer nav a 
{
    color:white;
    text-decoration: none;
}
footer nav a:hover 
{
    color:#a0c0c9;
    transition:all 0.3s;
}